.errorStyle {
    font-size: 14px;
    color: #c41a1a !important;
    text-transform: lowercase;
}

.label {
    font-size: 16px;
    color: #3b3b3b;
    font-weight: normal;
}

.labelResp {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.disabledLabel {
    font-size: 12px;
    color: lightgray;
    font-weight: 500;
}
