.alreadyMember {
    font-size: 18px;
    color: #3b3b3b;
}

.alreadyMemberMobile {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.loginBanner {
    position: absolute;
    top: 40.5px;
    right: 40.5px;
}

.popupEnterContainer {
    color: red;
    background-color: green;
}

.wrapperDesk {
    font-size: 18px;
    color: #3b3b3b;
    padding-left: 30px;
    padding-right: 30px;
}

.socialBtn {
    width: 272px;
    height: 64px;
    padding: 16px 120px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: brightness(1.1);
    border: solid 1px #d1d1d1;
}

.respSocial {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    object-fit: contain;
}

.wrapper {
    color: white;
}

.loginTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.signInBtn {
    background-color: #4dc5c0 !important;
    color: white !important;
}

.googleBtn {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.errorDesktop {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #c41a1a;
    margin-top: 40px;
    margin-bottom: -6px;
}

.errorTablet {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #c41a1a;
    margin-top: 20px;
    margin-bottom: -8px;
}

.errorMobile {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #c41a1a;
    margin-top: 20px;
    margin-bottom: -8px;
}

.modalPopup {
    display: block;
    margin-top: -3%;
}

.error {
    color: red;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width:1000px) and (min-width:601px) {
    .modalPopup {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

@media only screen and (max-width:600px) {
    .modalPopup {
        display: flex;
        width: fit-content;
        justify-content: flex-end !important;
        align-items: center;
        margin: auto;
    }
}
