.bigTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 50px 0;
}
.listTable {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.theadList {
    font-size: 30px;
}
.btnAddTutorial {
    text-align: center;
    margin-bottom: 50px;
    border-radius: 7.5px;
    border: none;
    padding: 5px;
    width: 150px;
}
.loading{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 100px 0 100px 0;
}
.error {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 100px 0 0 0;
    color: red;
}
.noTutorials {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 30px 0;
    color: blue;
}
.create {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
}
.TutorialTitle {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.TutorialTitleLetters {
    // margin-right: 10px;
    font-size: 20px;
    text-align: center;
}
.thTable {
    font-size: 20px;
    font-weight: bold;
}
.btnAddTopic {
    text-align: center;
    margin-top: 50px;
    border-radius: 7.5px;
    border: none;
    padding: 5px;
}
.btnAddSubTopic {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 7.5px;
    border: none;
    padding: 5px;
}
.submitting {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.btnSave {
    margin-right: 20px;
    width: 100px;
    border-radius: 7.5px;
    border: none;
    padding: 5px;
}
.btnCancel {
    width: 100px;
    border-radius: 7.5px;
    border: none;
    padding: 5px;
}
.subGrid {
    margin-bottom: 30px !important;
}
.SubTopicTitle {
    height: 30px;
    width: 70%;
}
.SubTopicDesEx {
    height: 200px;
    width: 70%;
}
.subTopicEdit {
    height: 200px;
    width: 100%;
}
.subLi {
    text-align: center;
    padding: 0 100px 0 100px;
}
.numero{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 20px;
}
.errorStyle {
    font-size: 14px;
    color: #c41a1a;
}
.viewAll {
    color: blue;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}
.datee{
    width: 100% !important;
    text-align: center;
    height: 64px;
    background-color: white;
    border: 1px solid #3b3b3b;
    border-radius: 7.5px;
    color: black;
}