.container {
  background-color: #1a1a1a; 
  display: absolute;
  // border-radius: 30px;
  width: auto;
  height: auto;
  margin: auto;
  padding: 50px 100px;
  text-align: center;
}
.delete{
  background-color: rgb(209, 29, 29);
  color: white;
  border-radius: 15px;
}
.buttongroup{
  background-color: #267326; 
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 14px;
  font-size: large;
  opacity: 0.6;
  display: inline-block;
  text-decoration:none;
  cursor: pointer;
  
}
.notification{
  color:white;
  background-color: rgb(209, 29, 29);
  border:  5px solid rgb(209, 29, 29);
  border-radius: 8px;
  margin: 0 535px ;
  font-size: 19px;
}

.buttongroup:hover {opacity: 1}
.saveform:hover {opacity: 1}

.saveform{
  background-color: rgb(75, 98, 224);
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 17px;
  opacity: 0.6;
  display: inline-block;
  text-decoration:none;
  cursor: pointer;
}


.title { /*Create new Exam*/
  
  margin: auto; /*top bottom left right*/
  color: white; /* #267326*/
  line-height: 1.5;
  font-size: 45px;
  border: 5px dashed;
  margin-bottom: 20px;

}

.tr {
  &:hover {
    background-color:#267326;
  }
}

.table {
  text-align: center;
  border-radius: 5px;
  // margin: 0 350px;
  margin: auto;
  border: 2px double white;
  width: 723px;
}

.th {
  background-color: #267326;
  color: white;
}

.titlelabel{ /*for fill in blank , mcq , dragdrop title*/
  background-color: #267326;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  margin : 0 350px;
}

.labels {
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.textfields {

  background-color: #1a1a1a;
  color: whitesmoke;
  font-weight: bold;
  font-size: medium;
  margin: 6px 6px;
  padding: 3px 3px;
  border: 2px solid white;
  border-radius: 4px;
}

.textarea {
  background-color: #1a1a1a;
  color: whitesmoke;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: large;
  margin: 6px 6px;
  padding: 3px 3px;
  border: 2px solid white;
  border-radius: 4px;

}